include README.txt
include Makefile
include LICENSE.txt
include liveusb-creator
include setup.py
include liveusb/__init__.py
include liveusb/creator.py
include liveusb/dialog.py
include liveusb/gui.py
include liveusb/releases.py
include liveusb/resources_rc.py
include liveusb/urlgrabber/__init__.py
include liveusb/urlgrabber/byterange.py
include liveusb/urlgrabber/grabber.py
include liveusb/urlgrabber/keepalive.py
include liveusb/urlgrabber/mirror.py
include liveusb/urlgrabber/progress.py
include data/liveusb-header.png
include data/liveusb-creator.ui
include data/liveusb-creator-tabbed.ui
include data/resources.qrc
include data/refresh.png
include data/liveusb-creator.desktop
include data/fedorausb.png
include liveusb-creator.console
include liveusb-creator.pam
include liveusb-creator.spec
include po/*.po
include po/mki18n.py
