include README.rst
include Makefile
include LICENSE.txt
include liveusb-creator
include setup.py
include liveusb-creator.console
include liveusb-creator.pam
include liveusb-creator.spec

graft liveusb
graft data
graft po

global-exclude *.pyc *.sw*
