include README.rst
include Makefile
include LICENSE.txt
include liveusb-creator
include setup.py
include org.fedoraproject.pkexec.run-liveusb-creator.policy
include liveusb-creator_polkit
include liveusb-creator.spec

graft liveusb
graft data
graft po

global-exclude *.pyc *.sw*
