Encoding=UTF-8
s_InstallHere=Select the directory to install LiveUSB Creator in:
s_InstallHere[fr]=Choisir le dossier où installer « LiveUSB Creator » :
s_RunNow=Run LiveUSB Creator now?
s_RunNow[fr]=Lancer « LiveUSB Creator » maintenant ?
s_UnInstall=This will uninstall LiveUSB Creator from your system.
s_UnInstall[fr]=Ceci va désinstaller « LiveUSB Creator » de votre système.
