[Desktop Entry]
Type=Application
Name=Fedora LiveUSB Creator
Comment=Write Fedora images to a portable drive
Icon=fedorausb
Exec=liveusb-creator_polkit
Terminal=false
Categories=System;
StartupNotify=true

