[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Fedora LiveUSB Creator
Comment=Write Fedora images to a USB device
Icon=fedorausb.png
Exec=liveusb-creator
Terminal=false
Categories=System;
StartupNotify=true

